#optional_header_div {
	background-color: blue;
	color: white;
}

#optional_bottom_div {
	background-color: purple;
	color: white;
}

#optional_header_div, #optional_bottom_div {
	text-align: center;
} 